<div class="container">
    <div class="header">
        <h1>Nueva Venta</h1>
    </div>
    <div class="venta">
        <form [formGroup]="productForm" (ngSubmit)="onProductSubmit()" class="productForm">
            <div *ngFor="let field of productFields, let i = index" [class]="field.name">
                <div class="labels">
                    <img [src]="productIcons[i]" alt="Label Icon">
                    <label>{{ field.label }}</label>
                </div>
                <input [type]="field.type" [formControlName]="field.name" class="form-control product" [ngStyle]="{'display': field.name !== 'codigo' ? 'block' : 'none'}" />
                <input [type]="field.type" [formControlName]="field.name" class="form-control code" [ngStyle]="{'display': field.name === 'codigo' ? 'block' : 'none'}" (input)="onCodeInput($event)" />
            </div>
        </form>
        <div class="sale-data">
            <div *ngFor="let field of saleFields, let i = index" [class]="field.name">
                <div class="labels">
                    <img [src]="saleIcons[i]" alt="Label Icon">
                    <label>{{ field.label }}</label>
                </div>
                <p [ngStyle]="{'display': field.name === 'id' ? 'block' : 'none'}">{{ cantSales }}</p>
                <p [ngStyle]="{'display': field.name === 'date' ? 'block' : 'none'}">{{ diaSemana }}, {{ fecha }}</p>
            </div>
        </div>
        <div class="products-list">
            <div class="products-header">
                <img src="https://img.icons8.com/ios/50/list--v1.png" alt="List Icon">
                <p>Lista de Productos</p>
            </div>
            <div class="products-table">
                <table>
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">Total</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>