.header {
    padding: 20px 0;
}

.venta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .codigo {
        width: 30%;
    }

    .name {
        width: 80%;
    }

    .price {
        width: 20%;
    }

    .quantity {
        width: 20%;
    }

    .codigo,
    .name,
    .price,
    .quantity {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .labels {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }
}

.sale-data {
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    gap: 30px;

    .labels {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .id {
        display: flex;
        align-items: center;
        width: 95%;

        input {
            width: 10%;
        }
    }

    .date {
        display: flex;
        align-items: center;
        width: 95%;

        input {
            width: 15%;
        }
    }

    .id,
    .date {
        gap: 10px;
    }
}

.products-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .products-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .products-table {
        width: 100%;
        overflow: auto;

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;

            td, th {
                padding: 5px 10px;
                border: 1px solid #1b421d;
            }
        }
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 18px;
}